@{
    ViewBag.Title = "Buy Pizzas";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1>Pzzeria</h1>
        <p>
            Welcome to our pizzeria, where we take pride in serving up delicious, mouthwatering pizzas that are sure to satisfy your cravings. At our pizzeria, we prioritize quality ingredients and authentic flavors to deliver an unforgettable dining experience.
        </p>
    </section>
    <hr />
    <div class="row">
        <section>
            @Html.ActionLink("Buy pizzas", "Purchase", "Home", null, new { @class = "btn btn-default" })
        </section>
    </div>
</main>